<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Web Server Page</title>
	<meta name="description" content="This is the help page for my web server.">

</head>

<body>
	{{> header}}
	<h2>{{screamIt welcomeMessage}}</h2>
	<p> Curabitur aliquet quam id dui posuere blandit. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Curabitur aliquet
		quam id dui posuere blandit. Donec rutrum congue leo eget malesuada.</p>
	{{> footer}}
</body>

</html>
