<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Web Server Maintenance Page</title>
	<meta name="description" content="This is the help page for my web server.">

</head>

<body>
	<h1>Site is under maintenance</h1>
	<p>Please check back soon, I promise we are on the job.</p>
	{{> footer}}
</body>

</html>
